<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="riceapp.hackrice.riceapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainPage"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignInActivity"
            android:label="@string/name_sign_in_activity"
            android:theme="@style/ThemeOverlay.MyNoTitleActivity" />
        <activity
            android:name=".CourseInfoActivity"
            android:label="@string/title_activity_course_info"
            android:parentActivityName=".MainPage"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="riceapp.hackrice.riceapp.MainPage" />
        </activity>
        <activity
            android:name=".EditTodoActivity"
            android:label="@string/title_activity_edit_todo"
            android:parentActivityName=".MainPage"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="riceapp.hackrice.riceapp.MainPage" />
        </activity>
        <activity android:name=".AddCourseActivity"></activity>
    </application>

</manifest>